doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
		script(type="text/javascript",src="/js/jquery-2.0.3.min.js",charset="UTF-8")
		script(type="text/javascript",src="/js/bootstrap.min.js",charset="UTF-8")
	body
		div.container
			block content